{{ if .notice }}
<div id="notice">
	{{ .notice }}
</div>
{{ end }}

<div id="container">
	<div id="path">
		{{ range .pathParts }}<span>/</span><span>{{.}}</span>{{end}}
	</div>

	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Size</th>
				<th>Modified</th>
			</tr>
		</thead>
		<tbody>
			{{ if ne .dir.Name "" }}<tr>
				<td><a href="..">..</a></td>
				<td></td>
				<td></td>
			</tr>{{ end }}
			{{ range .direntries }}
			<tr>
				<td>
					<a href="{{ $.prefix }}{{ .Name }}{{ if .IsDir }}/{{ end }}">
						{{ .Name }}{{ if .IsDir }}/{{ end }}
					</a>
				</td>
				<td>{{ if not .IsDir }}{{ .Info.Size | formatSize }}{{ end }}</td>
				<td>{{ .Info.ModTime | formatTime }}</td>
			</tr>
			{{ end }}
		</tbody>
	</table>
</div>

<style>
	html, body {
		font-family: Lato, sans-serif;
		margin: 0;
	}

	#notice {
		background: #eeeeee;
		text-align: center;
		padding: 0.25rem 0;
	}

	#container {
		width: 960px;
		margin: 0 auto;
		padding: 1rem 0;
	}

	#path {
		font-size: 1.25rem;
	}

	#path span:last-child {
		font-weight: bold;
	}

	h1 {
		margin-top: 0;
	}

	table {
		width: 100%;
	}

	table thead th {
		text-align: left;
	}
</style>